.secondary-btn {
    padding: 8px 16px;
    background: rgb(253,238,236);
    color: rgb(238,94,81);
    border: 1px solid rgb(238,94,81);
    border-radius: 4px;
    cursor: pointer;
    font-family: OpenSansBold;
}

@media screen and (max-width: 768px) {
    .secondary-btn i {
        display: none;
    }
}
