.course-title {
    font-family: OpenSansBold;
    color: black;
    font-size: 18px;
    margin-left: 10px;
}

.icon-hamburger {
    display: none;
}


@media screen and (max-width: 768px) {
    .icon-hamburger {
        display: inline;
    }
}
