.home-container {
    display: flex;
    height: calc(100% - 110px);
}

.home-container .sidebar-outer-container {
    width: 25%;
    margin-right: 20px;
    margin-top: 36px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.home-container .main-content-outer-container {
    width: 75%;
    margin-top: 36px;
    padding-left: 36px;
}

.home-container-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .home-container {
        display: none;
    }
    .home-container-mobile {
        display: block;
    }
    .home-container-mobile .header-mobile {
        font-family: OpenSansBold;
        margin-left: 16px;
        font-size: 20px;
    }
    .home-container-mobile .menu {
        padding: 16px 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        margin-bottom: 18px;
    }
    .home-container-mobile .menu .menu-item {
        margin-left: 16px;
    }
    .home-container-mobile .menu .menu-item p {
        margin-left: 40px;
        color: rgba(34,46,71,0.4);
        font-size: 12px;
    }
    .home-container-mobile ul {
        padding: 0;
        list-style-type: none;
    }
    .home-container-mobile .fixed-container {
        position: absolute;
        bottom: 0;
        left:0;
        z-index: 10;
        background: #fff;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        width: 100%;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .mobile-heading-text {
        font-family: OpenSansBold;
        font-size: 16px;
        margin-left: 16px;
    }
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        background: rgba(0,0,0,0.3);
    }
    .fixed-heading {
        margin: 16px;
        font-size: 22px;
        font-family: OpenSansSemiBold;
    }
    .fixed-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fixed-container i.icon, i.icons {
        margin-right: 16px;
        margin-bottom: 10px;
    }
}
