.navbar-container {
    padding-bottom: 24px;
    padding-top: 24px;
}

.navbar-container .nav-items {
    display: flex;
    justify-content: space-between;
}

.navbar-container .nav-items .left {
    display: flex;
    align-items: center;
}

.navbar-container .nav-items .right {
    display: flex;
    align-items: center;
}

.navbar-container .nav-items .nav-links {
    margin-left: 48px;
    padding-bottom: 10px;
    cursor: pointer;
    font-family: OpenSansSemiBold;
}

.navbar-container .nav-items .nav-links.active {
    color: rgb(238,94,81);
}

.navbar-container .nav-items .nav-links a {
    padding-bottom: 8px;
}

.navbar-container .nav-items .nav-links.active a {
    padding-bottom: 0;
}

.navbar-container .nav-items .nav-links.active:after {
    width: 40%;
    border-bottom-color: rgb(238,94,81);
}

.navbar-container .nav-items .nav-links:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0;
    padding-top: 8px;
    border-bottom: 2px solid black;
    border-radius: 1px;
    padding-bottom: 0;
}

.navbar-container .nav-items .nav-links .avatar {
    padding: 12px 16px;
    color: #ffffff;
    background: red;
    border-radius: 50%;
    line-height: 2.4;
}

.logo-container {
    padding-bottom: 16px;
    font-size: 18px;
}

.avatar {
    font-family: OpenSansBold;
}

.nav-items-mobile {
    display: none;
}

@media screen and (max-width: 768px){
    .navbar-mobile {
        display: block;
    }
    .navbar-container .nav-items {
        display: none;
    }
    .navbar-container .nav-items-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-container {
        padding: 16px;
    }

}
