.profile-detail-form {
    margin-top: 36px;
}

.profile-detail-form .ui.form {
    /*display: flex;*/
}

.profile-detail-form .align-input {
    display: flex;
    justify-content: space-between;
}

.profile-detail-form .align-input.second {
    margin-top: 16px;
}

.profile-detail-form .ui.form .field>label {
    text-transform: uppercase;
    font-family: OpenSansBold;
}

.profile-detail-form .ui.form .field {
    width: 50%;
    margin-left: 16px;
}

.update-pwd-btn {
    color: red;
    background: transparent;
    border: none;
    font-family: OpenSansBold;
}

.profile-detail-form .ui.form input:not([type]) {
    height: 48px;
}

.btn-fields {
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-top: 28px;
}

.btn-fields .update-pwd-btn {
    margin-left: 16px;
}

@media screen and (max-width: 768px) {
    .profile-detail-form .align-input {
        display: block;
    }
    .profile-detail-form .ui.form .field {
        width: calc(100% - 32px);
        margin-bottom: 16px;
    }
    .save-btn {
        width: 100%;
    }
    .btn-fields {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 16px;
        width: calc(100% - 32px);
        margin-top: 16px;
        align-items: flex-start;
    }

    .btn-fields > div:first-child {
        width: 100%;
        margin-top: 16px;
    }

    .btn-fields .update-pwd-btn {
        margin-left: 0;
        font-family: OpenSansBold;
        padding-left: 0;
    }
    .profile-detail-form {
        margin-top: 18px;
    }
}
