.history-container {
    background: rgb(245,244,249);
    border: 1px solid rgb(224,222,229);
}

.history-container:not(:first-child) {
    margin-top: 16px;
}

.history-container .sub-text {
    font-family: OpenSansSemiBold;
}

.history-container .upper {
    display: flex;
    align-items: center;
    padding: 16px;
}

.history-container h4 {
    font-family: OpenSansBold;
}

.history-container .upper .img-container {
    background: #ffffff;
    padding: 32px 16px;
}

.history-container .upper .content {
    margin-left: 28px;
    display: flex;
    width: 88%;
}

.history-container .lower {
    padding: 16px;
    margin-top: 4px;
    border-top: 1px solid rgb(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
}

.history-container .upper .inner-container {
    width: 100%;
}

.history-container .upper .inner-container .head-text,  .history-container .upper .inner-container .sub-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-links a:not([href]):not([class]):not(:first-child) {
    margin-left: 36px;
}

.strike {
    text-decoration: line-through;
}

.lower-links a:not([href]):not([class]) {
    color: red;
    font-family: OpenSansSemiBold;
}

.old-price {
    font-size: 16px;
    color: rgba(34,46,71,0.4)
}

.new-price {
    font-size: 20px;
    color: rgb(34,46,71);
}

.price {
    font-family: OpenSansSemiBold;
}

.failed {
    color: red;
}

.pending {
    color: rgb(248,162,37);
}

.complete {
    color: rgb(11,141,91)
}

.status {
    text-transform: capitalize;
}

.upper-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .history-container {
        margin: 0 16px;
    }
    .history-container .lower {
        display: none;
    }
    .history-container h4 {
        font-size: 14px;
    }

    .history-container .upper {
        display: none;
    }

    .history-container .upper .inner-container .head-text {
        flex-direction: column;
        align-items: flex-start;
    }
    .upper-mobile {
        display: block;
    }
    .upper-mobile .top {
        display: flex;
        align-items: center;
        padding: 16px;
    }
    .upper-mobile .img-container {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .upper-mobile .img-container h4 {
        font-size: 12px;
        width: 50%;
        margin-left: 16px;
    }

    .upper-mobile .img-container img {
        padding: 15px 7px;
        background: white;
    }
    .upper-mobile .mid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }
    .upper-mobile .mid .old-price {
        font-size: 12px;
    }
    .upper-mobile .mid .new-price {
        font-size: 16px;
        margin-left: 8px;
    }
    .upper-mobile .low {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .upper-mobile .low > div {
        padding: 12px;
        border-top: 1px solid rgba(0,0,0,0.1);
        text-align: center;
    }

    .upper-mobile .low > div:not(:nth-child(2)) {
        border-right: 1px solid rgba(0,0,0,0.1);
    }
}
