.primary-btn {
    background: rgb(238,94,81);
    color: white;
}

.save-btn {
    background: rgb(238,94,81);
    padding: 14px 72px;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: OpenSansBold;
}
