@font-face {
  font-family: OpenSansBold;
  src: url("./fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSansSemiBold;
  src: url("./fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Regular.ttf");
}

body {
  margin: 0;
  font-family: OpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}
