.sidebar-outer-container ul {
    padding: 0;
    list-style-type: none;
    margin-top: 30px;
}

.sidebar-outer-container ul li {
    padding-top: 24px;
    padding-bottom: 24px;
    cursor: pointer;
}

.sidebar-outer-container ul li.active {
    border-top: 1px solid rgba(238,94,81, 0.17);
    border-bottom: 1px solid rgba(238,94,81, 0.27);
    color: rgb(238,94,81);
    border-right: 2px solid red;
    font-family: OpenSansBold;
}

.sidebar-outer-container h3 {
    font-family: OpenSansBold;
}

.menu-text {
    margin-left: 16px;
}

@media screen and (max-width: 768px) {
    .sidebar-outer-container {
        display: none;
    }
}
